.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    margin:20px;
}
.buttonAdd{
    width:35%;
    height: 4vh;
    border-radius: 20px;
    border:1px solid #00a135;
    text-align: center;
    font-size: 17px;
    background-color: #95c799;
    box-shadow: 0 5px 0  #00a135;
    color:white
}
.buttonAdd:active{
    transform: translateY(5px);
    box-shadow: 0 0px 0  #222;
}
.new_component{
    width:90%;
}
.card{
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
}
.paginationButton{
    margin:20px 0;
    width:50%;
    height: auto;
    display:flex;
    justify-content: space-evenly;
}
.buttonPagination{
    padding:10px 10px;
    align-items: center;
    text-align: center;
    transition: 0.5;
}
.buttonPagination:active{
    border-radius: 5px;
    padding: 12px 12px
}
.message{
    margin:15px;
}