.container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    list-style-type: none;
    width:100%;
    align-items: center;
    padding:10px;
    margin:7px;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 12px #222;
}
.monto_fecha{
    display: flex;
    justify-content: space-between;
    width:100%
}
.montoGasto{
    width:10%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:red
}
.montoIngreso{
    width:10%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:rgb(0, 128, 53);
    
}
.icon_saldo{
    width:50px;
    height: 50px;
    cursor: pointer;
}
.tipo{
    width:25%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.descripcion{
    width:50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.fecha{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5px;
    height:4vh;
    width:100%
}
.button_deleted{
    height: 3.5vh;
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    margin:7px;
    width:10%;
    transition: .5;
    background-color: #1192ee;
    border: 3px #800000;
    cursor: pointer;
}
.button_edit{
    height: 3.5vh;
    align-items: center;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border: 1px;
    margin:7px;
    width:10%;
    transition: .5;
    cursor: pointer;
}
.button_edit:hover{
    background-color: whitesmoke;
}
.button_deleted:hover{
    background-color: red;
}
.container_edit_card{
    width:90%;
}