.container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    list-style-type: none;
    width:100%;
    align-items: center;
    padding:10px;
    margin:5px;
    border:2px solid #333;
    border-radius: 10px;
}
.monto_fecha{
    display: flex;
    justify-content: space-between;
}
.montoGasto{
    width:10%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:red
}
.montoIngreso{
    width:10%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:green;
}
.icon_saldo{
    width:50px;
    height: 50px;
    cursor: pointer;
}
.tipo{
    width:25%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.descripcion{
    width:50%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.fecha{
    display: flex;
    align-items: center;
}
.container_button{
    display: flex;
    justify-content: center;
    margin:5px;
    height:4vh;
}
.button{
    margin:5px;
    width:9%;
    transition: .5;
}
.button:active{
    width:10%;
    border-radius: 5px;
}
.container_edit_card{
    width:90%;
}