
.content-loginPage{
    background-image:url('../../assets/recursos/login-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.loginPage{
    width:100%;
    backdrop-filter: blur(5px);
}
.loginPage,.form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.content-form{
    width:500px;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-title{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
}
.loginPage-title{
    text-transform: uppercase;
    font-size:55px;
    font-family:Arial, Helvetica, sans-serif;   
    color:white;
}
.contenedor-botones{
    display:flex;
    justify-content: space-between;
    width: 65%;
    height: 5vh;
    margin-top:8px;
    margin-bottom:20px
}
.input-login{
    width: 55%;
    height: 38px;
    background: darkgray;
    border-radius: 5px;
}
.boton-login{
    width:45%
}
#login-mensaje{
    color:white;
    text-align: center;
}