.coins_container{
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select_coins{
    width:250px;
    margin:20px;
}
.coin_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:400px;
    margin:10px;

}
.coin_container{
    width:350px;
}