
.filterMenu{
    visibility: visible;
    display: flex;
    justify-content: center;
    width:65%;
    padding:10px;
    border-radius: 0 0 10px 10px;
    border-left:2px solid #222;
    border-right:2px solid #222;
    border-bottom:2px solid #222;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
}
label{
    margin:0 10px;
}